/buildcd/IP.BIN
/buildcd/*.user
/buildcd/disc.rti
/buildcd/disc.scr
/buildcd/*.xdelta
/buildcd/langrisser_3.CUE
/buildcd/langrisser_3.dsk
/cd/*.BIN
/cd/*.CUE
/lang3.opensdf
/lang3.sdf
/lang3.suo
/dump/dump.vcxproj.filters
/dump/dump.vcxproj.user
/encode/encode.vcxproj.filters
/encode/encode.vcxproj.user
/scrscendump/scrscendump.vcxproj.filters
/scrscendump/scrscendump.vcxproj.user
/scrsceninsert/scrsceninsert.vcxproj.filters
/scrsceninsert/scrsceninsert.vcxproj.user
/buildcd/Debug
/buildcd/obj
/buildcd/CDDA
/buildcd/Files
/dump/Debug
/encode/Debug
/satcode-insert/Debug
/satcode-insert/Release
/satcode/Debug
/scrscendump/Debug
/scrsceninsert/Debug
satcode/*.bin
satcode/*.elf
satcode-insert/satcode-insert.vcxproj.user
satcode-insert/satcode-insert.vcxproj.filters
satcode/*.o
satcode/satcode.vcxproj.filters
satcode/satcode.vcxproj.user
satcode/main.map
buildcd/yabause-0.9.14-win64/hisaturn.bin
buildcd/yabause-0.9.14-win64/bup.bin
/Debug
/Release
ipch
/dump/Release
/encode/Release
/satcode/Release
/scrscendump/Release
/scrsceninsert/Release
/buildcd/*.CCD
/buildcd/Release
