/buildcd/IP.BIN
/buildcd/*.user
/buildcd/disc.rti
/buildcd/disc.scr
/buildcd/lang3.xdelta
/buildcd/langrisser_3.CUE
/buildcd/langrisser_3.dsk
/cd/LANGRISSER_3.BIN
/cd/LANGRISSER_3.CUE
/lang3.opensdf
/lang3.sdf
/lang3.suo
/dump/dump.vcxproj.filters
/dump/dump.vcxproj.user
/encode/encode.vcxproj.filters
/encode/encode.vcxproj.user
/scrscendump/scrscendump.vcxproj.filters
/scrscendump/scrscendump.vcxproj.user
/scrsceninsert/scrsceninsert.vcxproj.filters
/scrsceninsert/scrsceninsert.vcxproj.user
